.layout-root[b-ag54jjddt9] {
    position: relative;
    min-height: 100vh;
    background-color: #f5f6fa;
}

.main-content[b-ag54jjddt9] {
    /*padding-top: 64px;*/
    position: relative;
    z-index: 1;
}

    .main-content[b-ag54jjddt9]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height:100vh;
        background: url('images/odecci-background.png') no-repeat center center;
        background-size: cover;
        opacity: 0.5; /* adjust opacity here */
        z-index: -1; /* behind content */
    }
